body
{
	margin: 0;
	padding: 0;
	font-family: tahoma, sans-serif;
	font-size: 10pt;
	background-color: #aaa;
}

img { border: 0; }
a	{ text-decoration: none; color: #228; }

/*------------------- Header -------------------*/
div#header
{
	position: relative;
	background-color: #88f;
	height: 48px;
	color: #000;
	margin: 0 5px;
	border: 1px solid #000;
	border-top: 0;
	border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
}

div#header h1
{
	margin: 0;
	font-size: 2.5em;
	text-align: center;
}

div#status
{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 5px;
	border-top: 1px dashed #444;
	border-right: 1px dashed #444;
}

div#main-menu
{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px 5px 0 5px;
	border-top: 1px dashed #444;
	border-left: 1px dashed #444;
}

div#main-menu ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

div#main-menu li
{
	margin: 0 5px;
	float: left;
	font-size: 0.8em;
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
}

div#main-menu li:hover
{
	background: #aaf;
}

div#main-menu a
{
	padding: 2px 10px;
	display: block;
}


/*---------------- Messages ----------------*/
div.message
{
	margin: 20px;
	padding: 4px 10px;
	font-size: 1.2em;
	text-align: center;
	background-color: #DDFFDD;
	font-weight: bold;
}

div.error
{
	background-color: #FFDDDD;
}


/*------------------- Content -------------------*/
div#content
{
	position: relative;
	height: 100%;
}


div#main
{
	position: relative;
}


div#menu
{
	border: 1px solid #000;
	border-radius: 8px;
	-moz-border-radius: 8px;
	position: absolute;
	top: 10px;
	left: 5px;
	width: 256px;
}


div#map
{
	background-color: #ccc;
	overflow: hidden;
	border: 1px solid #000;
	position: absolute;
	top: 10px;
	left: 271px;
	right: 5px;
}


div.bar
{
	position: relative;
	margin: 2px;
	border: 1px solid #444;
	width: 102px;
	height: 1.1em;
}

div.bar label
{
	top: 1px;
	left: 0;
	position: absolute;
	font-size: 0.8em;
	text-align: center;
	width: 100%;
	z-index: 1;
}

div.bar div
{
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 1px;
	width: 50%;
	background-color: #0c0;
	z-index: 0;
}

/*------------------- Log -------------------*/
div#log
{
	background-color: #fff;
	border-top: 1px solid #000;
	position: absolute;
	position: absolute;
	height: 64px;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 0.8em;
	overflow: auto;
	z-index: 1000;
}


table#log-table
{
	border-collapse: collapse;
	width: 100%;
}

table#log-table td:nth-child(odd)
{
	font-weight: bold;
	padding: 0 10px;
}

table#log-table td:nth-child(even)
{
	padding: 0;
	width: 100%;
}

table#log-table tr:nth-child(odd)
{
	background-color: #ccc;
}

/*---------------- Sidebar ----------------*/
ul.sidebar
{
	list-style: none;
	border: 1px solid #888;
	
	margin: 0;
	padding: 0;
	width: 150px;
	
	position: absolute;
	left: 20px;
	top: 20px;
	
	font-size: 0.8em;
}

ul.sidebar form
{
	width: auto;
	padding: 0;
	margin: 0;
	display: block;
	border: 0;
}

ul.sidebar ul
{
	list-style: none;
	margin: 0 0 0 20px;
	padding: 0;
}


ul.sidebar li
{
	margin: 0;
}

ul.sidebar li.header
{
	padding: 2px 10px;
	font-weight: bold;
	background-color: #444;
	color: #eee;
	text-align: center;
}

ul.sidebar a
{
	display: block;
	color: #000;
	padding: 2px 10px;
}


ul.sidebar a.selected
{
	font-weight: bold;
}

ul.sidebar a:hover
{
	background-color: #afa;
}