/*------------------- Status -------------------*/

div.status-text
{
	clear: both;
	font-size: 0.9em;
	font-weight: bold;
}


div.status-text a
{
	font-weight: normal;
	font-size: 0.8em;
}

div.bar
{
	float:left;
	position: relative;
	margin: 2px;
	border: 1px solid #444;
	width: 76px;
	height: 1.1em;
}

div.bar label
{
	top: 1px;
	left: 0;
	position: absolute;
	font-size: 0.8em;
	text-align: center;
	width: 100%;
	z-index: 1;
}

div.bar div
{
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 0;
	z-index: 0;
}


/*------------------- Log -------------------*/
div#log
{
	background-color: #fff;
	border-top: 1px solid #000;
	position: absolute;
	position: absolute;
	height: 64px;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 0.8em;
	overflow: auto;
	z-index: 1000;
}


table#log-table
{
	border-collapse: collapse;
	width: 100%;
}

table#log-table td:nth-child(odd)
{
	font-weight: bold;
	padding: 0 10px;
}

table#log-table td:nth-child(even)
{
	padding: 0;
	width: 100%;
}

table#log-table tr:nth-child(odd)
{
	background-color: #ccc;
}