div#canvas
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: visible;
}

div.tile
{
	position: absolute;
	z-index: 1;
}

div#youarehere
{
	position: absolute;
	background-color: #00f;
	width: 10px;
	height: 10px;
	z-index: 100;
	margin: 43px;
}
